
@media (max-width:1800px) {
    
    .header__nav {
        margin-left: auto;
        margin-right: auto;
    }

    .left-item-text {
        margin-right: 100px;
    }

    .action__right-item {
        padding: 65px 50px 65px 50px;
    }

    .footer__left-side {
        margin: 0;
    }
    
    .footer__center-block {
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width:1400px) {
    .about-us__action {
        flex-wrap: wrap;
        justify-content: center;
    }

    .action__left-side,
    .action__right-side {
        flex-basis: auto;
        max-width: 924px;
        min-height: 640px;
    }

    .action__left-side {
        margin-right: 0;
        margin-bottom: 32px;
    }

    .left-item-text {
        margin-right: 160px;
    }

    .action__right-item {
        padding: 65px 154px 65px 77px;
    }

    .action__right-icon {
        margin-right: 49px;
        width: 190px;
        height: 165px;
    }

    .footer__right-block {
        display: none;
    }

    .footer__center-block {
        margin-left:  auto;
        margin-right: 0;
    }
}

@media (max-width:1210px) {

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 23px;
    }

    .burger-line {
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: black;
    }

    .burger-line:first-child {
        top: 0;
        left: 0;
    }

    .burger-line:nth-child(2) {
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }

    .burger-line:last-child {
        bottom: 0;
        left: 0;
    }

    .header__logo {
        margin-left: auto;
    }

    .header__nav {
        display: none;
    }

    .slider__right-side {
        padding-left: 0;
    }

    .popular-quastion__title {
        max-width: 900px;
    }
}
