

@media (max-width:900px) {
    .left-item-text {
        margin-right: 80px;}
}

@media (max-width:768px) {
    .container {
        max-width: 698px;
    }

    /* HEADER */

    .header {
        height: 70px;
    }

    .header__container {
        border-radius: 24px;
    }

    .header__nav {
        padding-top: 25px;
    }
    
    /* HEADER */

    /* SECTION HERO */

    .hero {
        margin-top: 37px;
    }

    .hero__container {
        padding: 162px 53px;
        padding-left: 40px;
        max-width: 668px;
        max-height: 662px;
    }

    .swiper {
        border-radius: 24px;
    }

    .first-slide {
        background-image: url(../img/hero-first-768.jpg);
    }

    .second-slide {
        background-image: url(../img/hero-second-768.jpg);
    }
    
    .third-slide {
        background-image: url(../img/hero-third-768.jpg);
    }

    .hero__text {
        max-width: 588px;
    }

    .hero__heading {
        margin-bottom: 16px;
        font-size: 50px;
        line-height: 61px;
    }
    
    .hero__description {
        font-size: 18px;
        line-height: 22px;
    }

    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 30px;
    }

    /* SECTION HERO */

    /* SECTION ABOUT US */

    .about-us {
        margin-top: 32px;
    }

    .about-us__action {
        margin-top: 55px;
    }

    .action__left-side {
        min-height: 650px;
        border-radius: 24px;
    }

    .action__left-dicription {
        padding: 19px 40px;
        border-radius: 24px;
    }

    .left-item-text {
        margin-right: 47px;
    }

    .action__right-side {
        min-height: auto;
    }

    .action__right-item {
        padding: 33px 44px 35px 40px;
        max-width: 668px;
        border-radius: 24px;
    }

    .action__right-icon {
        margin-top: 30px;
        margin-right: 16px;
        width: 114px;
        height: 99px;
    }


    /*  ABOUT US */

    /* HOW WE WORK */
    
    .how-we-work {
        margin-top: 80px;
    }

    .how-we-work__heading {
        margin-bottom: 45px;
    }

    .how-we-work__list {
        justify-content: space-between;
    }

    .how-we-work__slider {
        flex-direction: column-reverse;
    }
    
    .slider__right-side,
    .slider__left-side {
        max-width: 668%;
    }

    .slider__right-side {
        margin-bottom: 38px;
        padding: 0;
        min-height: 284px;
    }

    .slider__left-text-br {
        display: none;
    }

    /* HOW WE WORK */

   /* POPULAR QUASTION */
   
    .popular-quastion {
       margin-top: 50px;
    }

    .popular-quastion__wrapper {
        padding: 32px 0;
     }

    .popular-quastion__title {
       max-width: 570px;
       margin-right: 30px;
    }

   /* POPULAR QUASTION */

   /* FOOTER */
   
   .footer {
       margin-top: 109px;
   }

   .footer__container {
       flex-direction: column-reverse;
       padding: 50px;
       padding-bottom: 60px;
   }

   .footer__logo {
       margin-bottom: 16px;
   }

   .footer__list {
       display: none;
   }

   .footer__list-soc {
       margin: 0;
   }

   .footer__center-block {
       margin: 0;
       margin-bottom: 50px;
   }

   .footer__input {
       max-width: 541px;
   }

   .footer__input-area {
       margin-bottom: 33px;
   }

   .footer__button {
       max-width: 241px;
    }

  /* FOOTER */

}
 